header {
  display: flex;
  padding: 68px 0;
  border-bottom: lightgray solid 1px;
}
header > div {
  font-family: "Montserrat";
  font-size: 48px;
  line-height: 70px;
  margin-left: 56px;
}

header > img {
  width: 100px;
  height: 70px;
  margin-left: 123px;
}
